<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeAssist</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section class="sub-haeder">
        <nav><a href="index.html"><img src="logo2.png" alt=""></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="http://localhost:8080/">HOME</a></li>
                    <li><a href="http://localhost:8080/about">ABOUT</a></li>
                    <li><a href="http://localhost:8080/ambulance">AMBULANCES</a></li>
                    <li><a href="http://localhost:8080/service">SERVICE</a></li>
                    <li><a href="http://localhost:8080/">HOSPITALS</a></li>
                    <li><a href="http://localhost:8080/">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <h1>Hospitals</h1>
    </section>
<!-- ----------blog page content------------- -->
<section class="blog-content">
    <div class="row">
        <div class="blog-left">
            <img src="blogimg.jpeg">
            <h2>Ambulance Service A Lifesaving Lifeline</h2>
            <p>An ambulance service is a critical component of emergency healthcare, providing rapid medical assistance and transportation for patients in need. Equipped with life-saving tools and staffed by trained paramedics, ambulances serve as mobile medical units, offering immediate care in life-threatening situations like heart attacks, strokes, or accidents.</p>

            <p>Modern ambulance services are equipped with advanced medical devices such as defibrillators, oxygen tanks, and ventilators. Paramedics provide essential pre-hospital care, stabilizing patients before reaching the hospital. With GPS and communication systems, ambulances can be dispatched quickly, ensuring that the nearest available vehicle responds to emergencies. This real-time communication also allows paramedics to update hospitals on the patient's condition, preparing them for immediate action upon arrival.</p>
            
            <p>Technological advancements like **smart ambulances** and **autonomous vehicles** are reshaping the future of emergency services. Smart ambulances integrate IoT devices for real-time patient monitoring, while autonomous ambulances could one day navigate traffic on their own, allowing paramedics to focus fully on patient care.</p>
            
            <p>Despite these innovations, ambulance services face challenges, such as traffic delays, high costs, and staffing shortages. Improving infrastructure and training more paramedics are essential to overcoming these issues.</p>
            
            <p>In times of crisis, ambulance services provide crucial, often life-saving support. With ongoing improvements in technology and logistics, these services are becoming even more efficient in responding to emergencies and saving lives.</p>

            <div class="comment-box">

                <h3>Appointment Booking</h3>
                <form  class="comment-form">
                    <input type="text" placeholder="Enter Name">
                    <input type="email" placeholder="Enter E-mail">
                    <textarea rows="5" placeholder="Types of Diseases">
                    </textarea>
                    <button type="submit" class="hero-btn red-btn">Summit</button>
                </form>
            </div>
        </div>
        <div class="blog-right">
            <h3> Available Nearest Hospitals</h3>
            <div>
                <span>Civil Hospital </span>
                <span>12.5km</span>
            </div>
            <div>
                <span>Medical College </span>
                <span>2.8km</span>
            </div>
            <div>
                <span>Vibrant hospital</span>
                <span>1.5km</span>
            </div>
            <div>
                <span>Nari hospital</span>
                <span>3.4km</span>
            </div>
            <div>
                <span>Gaurav hospital </span>
                <span>6.5km</span>
            </div>
        </div>
    </div>
</section>

    <!-----------------Footer----------------------------------->

    <section class="footer">
        <h4>About Us</h4>
        <p>The ambulance service offers rapid, efficient emergency response with smart technology for real-time vehicle
            and patient monitoring. <br> It ensures timely arrivals and excellent care, leveraging advanced IoT and AI
            systems.</p>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <p>Made with <i class="fa fa-heart-o"></i> By GoodguyRahuls </p>
    </section>


    <!-----------------------JavaScript for Toggle Menu-------------------------- -->
    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu() {
            navLinks.style.right = "0";
        }
        function hideMenu() {
            navLinks.style.right = "-200px";
        }
    </script>
</body>

</html>
