<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeAssist</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section class="header">
        <nav><a href="http://localhost:8080/"><img src="logo2.png" alt=""></a>
            <div class="nav-links " id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="http://localhost:8080/">HOME</a></li>
                    <li><a href="http://localhost:8080/about">ABOUT</a></li>
                    <li><a href="http://localhost:8080/ambulance">AMBULANCES</a></li>
                    <li><a href="http://localhost:8080/service">SERVICE</a></li>
                    <li><a href="hospitals.html">HOSPITALS</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                    
                </ul>
            </div>
            <!-- <div><button type="" class="logimbtn">Login</button></div> -->
            <div><a href="http://localhost:8080/life-assist/login" class="logimbtn">Login</a></div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <div class="text-box">
            <h1>LifeAssist Ambulance Service </h1>
            <p>An ambulance service app revolutionizes emergency response by leveraging technology for swift<br>
                Dispatch, real-time tracking and seamless communication.
            </p>
            <a href="" class="hero-btn">Visite US To Know More</a>
        </div>
    </section>

    
    <!-----------------------feature-------------------------- -->

    <section class="feature">
        <h1>Ambulance Feature</h1>
        <p>Ambulance service applications enable efficient emergency response and patient care management!</p>

        <div class="row">
            <div class="feature-col">
                <h3>Nearest Calling</h3>
                <p>The live location of the person is sent to the ambulance driver and Google Map shows the shortest
                    distance, with the help of which one can reach the accident place in the shortest time </p>
            </div>
            <div class="feature-col">
                <h3>Live Location</h3>
                <p>The live location of the person is sent to the ambulance driver and Google Map shows the shortest
                    distance, with the help of which one can reach the accident place in the shortest time</p>
            </div>
            <div class="feature-col">
                <h3>Smart Ambulances</h3>
                <p> Smart ambulances use IoT devices to monitor vehicle health and patient vitals, enhancing efficiency,
                    safety, and real-time communication during emergency medical responses.</p>
            </div>
        </div>
    </section>

    <!----------------------Ambulances--------------------------------->
    <section class="ambulances">
        <h1>States where ambulances are used</h1>
        <p>Ambulances are widely used across India in states such as Uttar Pradesh, Bengaluru, Gujarat, and others, providing essential <br>emergency medical services and rapid response to critical situations.</p>
        <div class="row">
            <div class="ambulances-col">
                <img src="ambulance01.png" alt="img">
                <div class="layer">
                    <h3>GUJARAT</h3>
                </div>
            </div>
            <div class="ambulances-col">
                <img src="ambulance02.png" alt="img">
                <div class="layer">
                    <h3>UTTER PRADESH</h3>
                </div>
            </div>
            <div class="ambulances-col">
                <img src="ambulance03.png" alt="img">
                <div class="layer">
                    <h3>BANGALORE</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- -----------------Facilities----------------------------------------------->

    <section class="facilities">
        <h1>Oue Facilities</h1>
        <p>Ambulance services offer live location tracking, nearest call dispatch, and smart ambulances with real-time monitoring,<br> ensuring efficient emergency response and patient care.</p>
        <div class="row">
            <div class="facilities-cal">
                <img src="live Amb.png" alt="img">
                <h3>Live Location</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, animi?</p>
            </div>
            <div class="facilities-cal">
                <img src="call amb.jpeg" alt="img">
                <h3>Nearest Calling</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, animi?</p>
            </div>
            <div class="facilities-cal">
                <img src="smrt amb.jpeg" alt="img">
                <h3>Smart Ambulances</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, animi?</p>
            </div>
        </div>
    </section>


    <!----------------------------Testimonials-------------------------------->

    <section class="testimonials">
        <h1>What Our Users Says</h1>
        <p> Ambulance services involves gathering feedback from users to improve the quality of care and overall service.</p>
        <div class="row">
            <div class="testimonials-col">
                <img src="uder1.jpg" alt="img">
                <div>
                    <p>The smart ambulance was impressive—fast response and real-time vital monitoring ensured excellent
                        care. However, traffic routing could use improvement.</p>
                    <h3>Christine Berley</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    
                </div>
            </div>
            <div class="testimonials-col">
                <img src="pic.jpg" alt="img">
                <div>
                    <p>Autonomous ambulance made a smooth ride and efficient arrival. Loved the focus on patient care,
                        but occasional tech glitches were noticeable.</p>
                    <h3>GoodguyRahuls</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
            </div>
    </section>

    <!-----------------Call TO Action----------------------------------->
    <section class="cta">
        <h1>Sign In To Get More Information About ,<br>Getting Ambulance Help</h1>
        <a href="" class="hero-btn">CONTACT US</a>
    </section>


    <!-----------------Footer----------------------------------->

    <section class="footer">
        <h4>About Us</h4>
        <p>The ambulance service offers rapid, efficient emergency response with smart technology for real-time vehicle and patient monitoring. <br> It ensures timely arrivals and excellent care, leveraging advanced IoT and AI systems.</p>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <p>Made with <i class="fa fa-heart-o"></i> By GoodguyRahuls </p>
    </section>


    <!-----------------------JavaScript for Toggle Menu-------------------------- -->
    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu() {
            navLinks.style.right = "0";
        }
        function hideMenu() {
            navLinks.style.right = "-200px";
        }
    </script>
</body>

</html>
