<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeAssist</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section class="login-haeder">
        <nav><a href="index.html"><img src="logo2.png" alt=""></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="ambulance.html">AMBULANCES</a></li>
                    <li><a href="service.html">SERVICE</a></li>
                    <li><a href="hospitals.html">HOSPITALS</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

    </section>
    <!-----------------Login or sing Up----------------------------------->

    <div class="form-box">
        <h1 id="title">Sign Up</h1>
        <form method="post" action="/life-assist/login">
            <div class="input-group">
                <div class="input-field" id="nameField">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="username" name="username">
                </div>

                <div class="input-field">
                    <i class="fa fa-envelope"></i>
                    <input type="email" placeholder="E-Mail" name="email">
                </div>

                <div class="input-field">
                    <i class="fa fa-id-card"></i>
                    <input type="id-number" placeholder="number" name="ph">
                </div>

                <div class="input-field">
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="password" name="password">
                </div>
                
                <p>Forgot password? &nbsp;<a href="#">Click Here!</a></p>

                <div class="btn-field">
                    <button type="submit" id="signinBtn" class="disable" style="width: 160px;">Sign in</button>
                </div>
            </div>
            <br>
        </form>
        <div class="btn-field">
                <form method="get" action="/life-assist/signup">
                    <button  id="signupBtn" type="submit" style="width: 160px;">Sign Up</button>
                </form>
                <!-- <form method="post" action="/life-assist/login">
                    <button type="submit" id="signinBtn" class="disable" style="width: 160px;">Sign in</button>
                </form> -->
            </div>
    </div>
    <script>

        let signupBtn = document.getElementById("signupBtn");
        let signinBtn = document.getElementById("signinBtn");
        let nameField = document.getElementById("nameField");
        let title = document.getElementById("title");

        signinBtn.onclick = function(){
            nameField.style.maxHeight = "0";
            title.innerHTML = "Sign In";
            signupBtn.classList.add("disable");
            signinBtn.classList.remove("disable");
        }
        signupBtn.onclick = function(){
            nameField.style.maxHeight = "60px";
            title.innerHTML = "Sign Up";
            signupBtn.classList.remove("disable");
            signinBtn.classList.add("disable");
        }
    </script>

    <!-- -----------------------JavaScript for Toggle Menu-------------------------- -->
    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu() {
            navLinks.style.right = "0";
        }
        function hideMenu() {
            navLinks.style.right = "-200px";
        }
    </script>
</body>

</html>